# VITE_ secrets are exposed to browser
# DONT ADD TRAILING /
VITE_BACKEND_ROOT=point_to_backend_destination

DB_ROOT_PASSWORD=example
DB_HOST=example
DB_NAME=example
DB_USER=mysqlUser
DB_PASS=example

DEFAULT_ADM=myAdmin
DEFAULT_ADM_EMAIL=example@example.com
DEFAULT_ADM_PASS=example